.App {
  background: url(background.webp);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  min-height: 100vh;
  padding: 20px;
}

.conteiner {
  background-color: rgba(255, 255, 255, 0.288);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: rgb(255, 255, 255);
  min-height: 100vh;
  padding: 20px;
}

h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

h2 {
  color: rgb(0, 0, 0);
  margin-top: 20px;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
}

input[type="text"]::placeholder {
  color: #000000;
}

button {
  background-color: #a4140c;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  transform: translateY(2px);
}

hr {
  border: 1px solid #000000;
  margin: 20px 0;
  width: 80%;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
  width: 80%;
  margin-top: 10px;
  color: rgb(2, 2, 2);
  font-size: 20px;
  font-weight: bold;
}

ol li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  border-bottom: 3px solid #000000;
}

ol li:last-child {
  border-bottom: none;
}

img {
  width: 100px;
}